.list-table-max-height {
  max-height: calc(100vh - 120px);
}

.list-table-max-height-with-toolbar {
  max-height: calc(100vh - 140px);
}

.list-table-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.list-table-scrollable {
  flex: 1;
  overflow: auto;
}

.list-table-max-width-expanded {
    max-width: calc(100vw - 16rem);
}
.list-table-max-width-collapsed {
  max-width: calc(100vw - 6rem);
}
.list-table-max-width-collapsed-mobile {
  max-width: calc(100vw - 3rem);
}

.deployment-list-table-max-width-expanded {
  max-width: calc(100vw - 19rem);
}
.deployment-list-table-max-width-collapsed {
max-width: calc(100vw - 9rem);
}

.sidebar-max-height {
  max-height: calc(100vh - 90px);
}

.event-table-max-height {
  max-height: calc(100vh - 115px);
  border-left-width: 1px;
  border-right-width: 1px;
}

.horizontal_scroll::-webkit-scrollbar {
  display: none;
}

.horizontal_scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-overflow: clip;
  overflow: auto;
}
